.navbar {
    background-color: #f5f5f5;
    position: relative;
    top: 27px;
    left: 342px;
}

.nav-link-box:hover {
    color:rgb(27, 160, 133);
    
}

.nav-link-box {
    margin-left: 12px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    
}