

.sidebar-news {
    background: transparent url('https://ebook.waka.vn/themes/desktop/reactjs/images/icon/r-info-icon.png') no-repeat;
    width: 34px;
    height: 34px;
    display: block;
    box-shadow: 1px 2px 5px 0px rgba(3, 27, 22, 0.25);
    border-radius: 50%;
    transition: all .2s ease;
    cursor: pointer;
}

.sidebar-backtop {
    background: transparent url('https://ebook.waka.vn/themes/desktop/reactjs/images/icon/r-totop-icon.png') no-repeat;
    width: 34px;
    height: 34px;
    margin-top: 13px;
    display: block;
    box-shadow: 1px 2px 5px 0px rgba(3, 27, 22, 0.25);
    border-radius: 50%;
    transition: all .2s ease;
    cursor: pointer;
    position: fixed; 
   
    z-index: 1;
   
}

.sidebar {
    list-style-type: none;
    position: fixed;
    left: 96%;
    top: 220px;
    z-index: 9999;
}

.massages {
    
    width: 107px;
    height: 35px;
    line-height: 35px;
    font-family: arial;
    font-size: 12px;
    transition: 1s;
    position: fixed;
    box-sizing: content-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px;
    float: right;
    bottom: 0;
    right: 29px;
    background-color: #24a282;
    color: #fff;
    display: flex;
}

.massages-icons {
    background: transparent url('https://livechat.vegaid.vn/design/defaulttheme/images/icons/icon-question.png') no-repeat;
    width: 34px;
    height: 34px;
    margin-top: 2px;
    display: block;
    color:#fff;
    background-color: rgb(5, 149, 117);
    border-radius: 5px;
    transition: all .2s ease;
    cursor: pointer;
}

.massages-text {
    margin-left: 13px;
    color:rgb(255, 255,255);
    font-weight: 700;
    font-size: 15px;
}

.massages-text-content {
    font-family:Arial, Helvetica, sans-serif;

}
