.comic {
    
    background: transparent url(../../assets/comic.jpg) no-repeat;
    height: 550px;
    max-height: 550px;
    margin-top: 30px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    
}

.comic-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: 30px;
}
.comic-title {
    width: 222px;
    height: 115px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #000;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    
}

.comic-title h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #fff;
    
}

.comic-desc {
    text-align: center;
    width: 698px;
    margin-left: 62px;
    margin-top: 12px;
    line-height: 25px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 75px;
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.list-item {
    display: inline;
    padding: 15px;
    position: relative;
    height: 271px;
    margin-top: 20px;
    padding-left: 60px;
}

.list-item--img {
    /* background-color:'#000'; */
    /* position: absolute; */
}

dl, ol, ul {
    margin-top: 74px;
    margin-left: 194px;
    margin-bottom: 1rem;
}

.overlay {
    position: absolute;
    top: -115px;
    left: 52px;
    width: 195px;
    height: 291px;
    background-color: #000;
    opacity: .5;
    transition: all .2s ease;
}

.overlay:hover {
    display: none;
}
