.Slider {
    display:block;
    height: 115px;
}

.slide {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: 50px;

}

.slidePrev-btn {
    color: #fff;
}

.slideNext-btn {
    color: #fff;
}

.author {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.content {
    font-size: 13px;
    line-height: 18px;
}