.footer {
  min-height: 364px;
  padding: 28px 15px 20px 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.footer-content--up {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  
}

.footer-content--up--first {
  width: 230px;
  height: 282px;
  display: flex;
  flex-wrap: wrap;
}
.footer-content--up--second {
  width: 620px;
  padding-left: 30px;
  text-align: center;
  height: 282px;
}
.footer-content--up--third {
  width: 430px;
  height: 282px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-content--down {
  padding-top: 15px;
  margin-top: -48px;
  border-top: 1px solid #e5e5e5;
  padding-right: 394px;
}

.relative {
  position: relative;
}

.p-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: rgb(58, 71, 82);
}

.footer-content--up--first__up {
  font-weight: 700;
  line-height: 17.6px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(58, 71, 82);
  text-transform: uppercase;
  font-size: 16px;
}

.footer-content--up--first__down-1 a {
  color: rgb(58, 71, 82);
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}

.footer-content--up--first__down-1 ul {
  list-style-type: none;
  padding: 0;
}

.footer-content--up--first__down-2 a {
  color: rgb(58, 71, 82);
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}

.footer-content--up--first__down-2 ul {
  list-style-type: none;
  padding: 0;
}

.footer-content--up--first__down {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 100px;
}

.footer-box-content--button {
  border-radius: 25px;
  box-shadow: 0.4px 0.9px 3px 0 rgb(3 27 22 / 20%);
  background-color: #1ca081;
  padding: 11px 29px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 14px;
}

.footer-box-header {
  font-weight: 700;
  line-height: 17.6px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(58, 71, 82);
  text-transform: uppercase;
  font-size: 16px;
}

.footer-box-content p {
  color: rgb(58, 71, 82);
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}

.footer-content--up--first__down-1 ul {
  list-style-type: none;
  padding: 0;
}

.footer-box-content-down ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-desc p {
  color: rgb(58, 71, 82);
  font-size: 13px;
  font-weight: 400;
  margin-top: -2px;
}
.app-desc {
  width: 100%;
  margin-left: 10px;
}

.img-fluid {
  width: 93px;
  height: 70px;
}

.footer-box-content-down ul li {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 200px;
}


.other {
    padding-bottom: 0;
}